### The basics

- one dimention arrays and their attributes, shape, ndim, size
- two dimention arrays
- n dimention arrays

- how to access a given dimention and how to work with it

In [1]:
import numpy as np

In [18]:
a = np.array([1, 2, 3, 4, 5],  dtype = 'int32')
a

array([1, 2, 3, 4, 5], dtype=int32)

In [19]:
a.shape

(5,)

In [20]:
a.ndim

1

In [21]:
type(a)

numpy.ndarray

In [22]:
a.dtype

dtype('int32')

In [23]:
a.size

5

In [24]:
len(a)

5

In [28]:
a[:3]

array([1, 2, 3], dtype=int32)

#### Two dim arrays

In [47]:
a2 = np.array([[1, 2, 3, 4], 
               [2, 3, 1, 6]])
a2

array([[1, 2, 3, 4],
       [2, 3, 1, 6]])

In [48]:
a2

array([[1, 2, 3, 4],
       [2, 3, 1, 6]])

In [49]:
a2[0:1, 0:1]

array([[1]])

In [50]:
# replace the an element 
a2[0:1, 0:1] = 20

In [51]:
a2

array([[20,  2,  3,  4],
       [ 2,  3,  1,  6]])

In [54]:
# access the column 2 
a2[:, 2]

array([3, 1])

In [55]:
# access row one
a2[1, :]

array([2, 3, 1, 6])

In [60]:
a3 = np.array([[[1, 2,3 ], 
                [0, 2, 3], 
                [4, 5, 6]], 
               [[2, 5, 6],
                [3, 7, 8],
                [6, 8, 9]], 
               [[1, 0, 0], 
                [0, 0 ,1], 
                [3, 2, 1]]
             ])

In [61]:
a3.ndim

3

In [62]:
a3.shape

(3, 3, 3)

### Initializing different types of arrays

In [66]:
np.zeros(4)

array([0., 0., 0., 0.])

In [67]:
np.ones(9)

array([1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [69]:
np.ones((3, 3, 3), dtype='int32')

array([[[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]]], dtype=int32)

In [70]:
np.full((3, 3, 3), 10)

array([[[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]],

       [[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]],

       [[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]]])